header#banner.hero-unit
  .container
    h1 Cell Array
    p.lead Cell array superimpositions
    div.backdrop(id='svg', ng-include="'assets/images/empty.svg'")
button.btn-default(type='button', ng-click='ulam.draw()') Draw Grid;
